
Binaries/
DerivedDataCache/
Intermediate/
Saved/
Build/


.vscode/
.vs/
.idea/
.vsconfig
*.sln
*.suo
*.VC.db
*.opensdf
*.opendb
*.sdf
*.xcodeproj
*.xcworkspace

# OS Tarafından Oluşturulan Dosyalar
Thumbs.db
Desktop.ini
.DS_Store